<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="tempoProcessamento" value="30000"/>
    <add key="path" value="C:\Jeferson\VTEX"/>


    <add key="Server" value="10.0.0.3"/>
    <add key="DataBase" value="WahlClipper"/>
    <add key="DbUser" value="sa"/>
    <add key="DbPassword" value="sa"/>
    <add key="SapUser" value="manager"/>
    <add key="SapPassword" value="Ramo02"/>
    <!--
      6: SQLServer 2008
      7: SQLServer 2012
      8: SQLServer 2014
    -->
    <add key="SqlServerType" value="6"/>
    <!-- Tempo em milessegundos-->
    <add key="Intervalo" value="900000"/>

    <!-- Dados de acesso a API -->
    <add key="UserName" value="wahlbrasil_admproduto"/>
    <add key="Password" value="admprowahl2@18"/>
    <add key="StoreId" value="1000199"/>
    <add key="UrlCliente" value="http://adm-cliente-neo1.plataformaneo.com.br"/>
    <add key="UrlPedido" value="http://adm-pedido-neo1.plataformaneo.com.br"/>
    <add key="UrlProduto" value="http://adm-produto-neo1.plataformaneo.com.br"/>
    <add key="IntegrationKey" value="1000199389"/>
    <add key="EdApiAut" value="/api/v1/auth"/>
    <add key="EdRetCliente" value="/api/v1/adm_customer/GetQueue"/>
    <add key="EdRetPed" value="/api/v1/adm_order/GetQueue"/>
    <add key="EdRemovePed" value="/api/v1/adm_order/DeleteQueue"/>
    <add key="EdRemoveCliente" value="/api/v1/adm_customer/DeleteQueue"/>
    <add key="EdAtualizaStatusPedido" value="/api/v1/adm_orderstatus/SetOrderStatus"/>
    <add key="EdAtualizaStock" value="/api/v1/adm_stocks"/>

    <!-- Parâmetros do SAP -->
    <add key="Empresa" value="4"/>
    <add key="Usage" value="57"/>
    <add key="Carrier" value="F00730"/>
    <add key="GroupNum" value="-2"/>
    <add key="ExpnsCode" value="3"/>
    <add key="ExpnsTax" value=""/>
    <add key="PriceList" value="70"/>
    <add key="SlpCode" value="2"/>
    <add key="QoP" value="1"/>
    <add key="PackDesc" value="Caixa"/>
    <add key="GroupCode" value="111"/>
    <add key="WhsCode" value="0006-11"/>

  </appSettings>
</configuration>